.contestant table {
    margin: 0 auto;
    justify-content: center;
} 

.contestants {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  .contestants td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .contestants tr:nth-child(even){background-color: #f2f2f2;}
  
  .contestants tr:hover {background-color: #ddd;}
  
  .contestants th {
    text-align: left;
    background-color: #cfb646;
    color: white;
    font-size: 18px;
  }

.contestants button{
    text-align: left;
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;  
}

.contestants button:hover{
  cursor: pointer;
  background-color: #c7ab31;
}