.frontpage img{
    margin: 0 auto;
    justify-content: center;
    display: block;
}

.frontPageBlock h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin-top: 0px;
    font-family:'Times New Roman', Times, serif;
}
.frontpage{
    background-color: rgba(128, 128, 128, 0.432); 
    margin-top: 10px;
}